body{
  background-color: #dddddd;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}
main{
  width: 60%;
  height: auto;
  background-color: white;
  padding: 50px;
  text-align: center;
  margin-top: 60px;
  justify-content: center;
}

section{
  text-align: left;
}

.button, #output{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

#quotes{
  background-color: #be2a2a;
  border: #dddddd;
  padding: 1rem;
  border-radius: 4px;
} 

.palette{
  max-width: 100%;
}

img{
  max-width: 100%;
}